*{
    margin: 0;
    padding: 0;
    transition-duration: 0.25s;
}
body{
    background-color: azure;
}
.header{
    background-color:gray;
    height: 45px;
}
nav ul li{
    display: inline-block;
    padding: 0px 15px 0px 15px;
}
nav ul li a,
.user-details h3 a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    display: flex;
    margin-top: ;

}
.navigation{
    justify-content: end;
    display: flex;
    margin-top: -20px;
}
.user-details{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
#user-avater{
    margin-top: 80px;
    font-size: 100px;
    color: seagreen;
}
#profile{
    margin: 5px 0px 0px 5px;
    font-size: 30px;
}
#profile:hover,
#user-avater:hover,
.user-details h3 a:hover,
nav ul li:hover{
    transform: scale(1.2);
}

#profile:hover,
#user-avater:hover,
nav ul li a:hover,
.user-details h3 a:hover{
    color: aquamarine;
}
